<h2>Listado de transacciones</h2>
<h3>Transacciones realizadas: {{transacciones.length}}</h3>
<div *ngFor="let x of transacciones">
  <div >
  <ul type='square'[style.background-color]="x.kind == 'spent'?'orange':'lightgreen'">
    <li><a [routerLink]="'./transaction/' + x.id" style="text-decoration:none" >
      ({{x.date | date :'shortDate'}}) {{x.name | uppercase}}:
    </a></li>
    <li>Amount:
    <span *ngIf="x.kind == 'income' ; else gasto">
      +{{x.amount}}
    </span>
    <ng-template #gasto>
      -{{x.amount}}
   </ng-template>
    $
    </li>
    <li>({{x.description}})</li>
  </ul>
  </div>
</div>
<h3 [style.background-color]="balancetotal <= 0 ?'red':'green'">
  Balance total: {{balancetotal}} $
</h3>
